.img-fill{
  width: 100%;
  height: auto;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.fz-20{
  font-size: rem(20);
}

.light{
  font-weight: 300;
}

.lh-17{
  line-height: 1.7;
}

.position-relative{
  position: relative;
}