$mainFont: "Formular", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$mainColor: #FF0C00;
$blackColor: #2C2E3E;
$mainFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 1.3;

$maxDesktopWidth: 1600px;
$lgDesktopWidth: 1400px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$TableDesktopWidth: 992px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
